<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
	<assemblyIdentity name="payroll" publicKeyToken="59134cbc0fd189ac"/>
	<codeBase version="1.0.0.0" href="e:\Shared\payroll.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
