<configuration>
  <connectionStrings>
    <add name="ShopDB_1" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Shop;Integrated Security=True"/>
    <add name="ShopDB_2" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=db\Shop.mdb"/>
    <add name="ShopDB" providerName="System.Data.SqlServerCe.3.5" connectionString="Data Source=db\Shop.sdf"/>
  </connectionStrings>
</configuration>
