<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="SalesBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="SalesBehavior" name="Sales.OrderManager">
                <endpoint address="order" binding="basicHttpBinding" bindingConfiguration=""
                    name="OrderEndpoint" contract="Sales.IOrderManager" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://*:8060/sales" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>