<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="OrderBinding" transactionFlow="true" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:2060/sales/order" binding="netTcpBinding"
                bindingConfiguration="OrderBinding" contract="Sales.IOrderManager"
                name="OrderEndpoint" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>