<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Welcome.html" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="Greeter" path="Welcome.amitx" verb="GET" type="BasicWebApp.GreetingHandler" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
</configuration>
